<div class= "container">
  <header class= "jumbotron">

  <h1 class="pacifico">Bristle</h1>
    <h3>Combing the web for all things bristly</h3>
    {{#link-to 'index'}}Home!{{/link-to}}
  </header>
  <body>
      {{outlet}}
  </body>

  <hr>
  <footer>

  </footer>
</div>
